@import '../../abstracts/variables';

section {
    align-items: flex-start;
    box-sizing: border-box;
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    padding: 4rem 6rem;
    ul {
        row-gap: 4rem;
        display: flex;
        flex-direction: column;
        padding-top: 4rem;
        width: 18%;
        li {
            h2 {
                color: $cor-preto;
                font-size: 22px;
                font-weight: 700;
                padding-bottom: 1rem;
                text-transform: uppercase;
                text-align: left;
            }
            p {
                color: #0000007c;
                font-size: 18px;
                line-height: 1.6rem;
            }
        }
    }
    .section__form {
        box-sizing: border-box;
        margin-left: 7rem;
        padding-top: 4rem;
        width: 40%;
        h1 {
            columns: $cor-preto;
            font-size: 30px;
            font-weight: 700;
            line-height: 2.7rem;
            text-transform: uppercase;
        }
        p {
            color: $cor-hover;
            font-size: 15px;
            font-weight: 700;
            text-transform: uppercase;
            padding: 1rem 0 2rem;
        }
    }
    .container {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        position: absolute;
        width: 100%;
        .image {
            background: url('../../../../assets/images/animated-background.png') center center / cover;
            height: 50%;
            margin: 0 auto;
            position: absolute;
            text-align: center;
            width: 50vw;
            z-index: -1;
        }
    }
}
