<section role="section">
    <div class="section__form">
        <h1 tabindex="1">
            Find out the price <br> of your home
        </h1>
        <p>We will contact you within 24 hours</p>
        <app-form-contact></app-form-contact>
    </div>
    <ul>
        <li>
            <h2>Architecture</h2>
            <p>We provide high-quality architecture services.</p>
        </li>
        <li>
            <h2>Interior Design</h2>
            <p>Our team offers unique and stylish architecture solutions.</p>
        </li>
        <li>
            <h2>Lightin Design</h2>
            <p>Let our team design unique lighting for your home.</p>
        </li>
    </ul>
    <div class="container">
        <div class="image"></div>
    </div>
</section>
