<article>
    <img
        *ngFor="let slide of slides"
        [src]="slide.src"
        width="1"
        height="1"
        style="opacity: 0; position: fixed;animation: none;"
    >
    <img
        [src]="slides[activeImageIndex].src"
        [@opacityAnimations]="state === 'default' ? 'invisible' : 'default'"
        alt="Exemplo de um design de uma casa que está sendo demonstrada no site"
    >
    <div class="article__description">
        <p id="works">54+ works</p>
        <p id="firstDescription">{{ slides[activeImageIndex].firstDescription }}</p>
        <p>{{ slides[activeImageIndex].secondDescription }}</p>
        <p>{{ slides[activeImageIndex].thirdDescription }}</p>
    </div>
</article>
