<section>
    <div>
        <h2 id="firstTitle">4 steps to a new home</h2>
        <h1>How we do it</h1>
        <ng-content select="[title]"></ng-content>
        <ng-content select="[description]"></ng-content>
    </div>
    <div>
        <ul>
            <li>Acquaintance with the customer</li>
            <li>Project concept development</li>
            <li>Working in exterior and interior</li>
            <li>Finishing touches for your future home</li>
        </ul>
        <ng-content select="[image]"></ng-content>
    </div>
</section>
