<header class="header" role="header">
    <h1>
        <img src="../../../../assets/images/logo-inverse-440x84.png" alt role="button" aria-label="Home">
    </h1>
    <app-menu-hamburguer></app-menu-hamburguer>
    <nav>
        <ul>
            <li>
                <a href="#" target="_self" rel="author canonical follow">Home</a>
            </li>
            <li>
                <a href="#" target="_self" rel="author canonical follow">About</a>
            </li>
            <li>
                <a href="#" target="_self" rel="author canonical follow">Team</a>
            </li>
            <li>
                <a href="#" target="_self" rel="author canonical follow">Portfolio</a>
            </li>
            <li>
                <a href="#" target="_self" rel="author canonical follow">Contacts</a>
            </li>
            <li>
                <a href="tel:#" target="_blank" rel="nofollow">1-300-123-1234</a>
            </li>
        </ul>
    </nav>
</header>
