<section class="main" role="section">
    <div class="main__container">
        <app-header></app-header>
        <div class="container__description">
            <h2>Designing & Building</h2>
            <p>Modern energy efficient houses from 150 sq. m.</p>
            <app-contact-button [buttonText]="text"></app-contact-button>
        </div>
    </div>
    <div class="carousel">
        <router-outlet></router-outlet>
    </div>
</section>
<main>
    <app-qualidades></app-qualidades>
    <app-how-we-do
        (id)="changeId($event)"
        >
        <h2
            id="secondTitle"
            title
            >
            {{ howWeDo[activeId - 1].title }}
        </h2>
        <p
            description
            >
            {{ howWeDo[activeId - 1].firstDescription }}
        </p>
        <p
            description
            >
            {{ howWeDo[activeId - 1].secondDescription }}
        </p>
        <div
            image
            class="{{ howWeDo[activeId - 1].image }}"
            >
        </div>
    </app-how-we-do>
</main>
