@import "../app/core/abstracts/variables";

.main {
    align-items: center;
    background: url('../assets/images/bg-image-1.jpg') no-repeat center center / cover;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    max-width: 100vw;
    overflow: hidden;
    .main__container {
        height: 100%;
        padding-bottom: 12em;
        width: 33.33%;
        .container__description {
            box-sizing: border-box;
            padding: 0 0 2rem 4rem;
            h2 {
                color: $cor-branco;
                font-size: 50px;
                font-weight: 700;
                text-transform: uppercase;
                width: auto;
            }
            p {
                color: $cor-hover;
                font-size: 15px;
                font-weight: 700;
                margin: 2.5rem 0 2.5rem 9rem;
                text-transform: uppercase;
                width: 45%;
            }
        }
    }
    .carousel {
        height: 100%;
        width: 66.66%;
    }
}

main {
    box-sizing: border-box;
    max-width: 100vw;
    overflow: hidden;
}

app-how-we-do {
    p {
        color: gray;
        font-weight: 500;
        line-height: 1.8rem;
        margin-bottom: 1.5rem;
    }
    h2 {
        color: $cor-hover;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
    }
    #secondTitle {
        margin-bottom: 1.5rem;
    }
    div {
        border-radius: 5px;
        box-sizing: border-box;
        height: 80%;
        padding: 1rem;
        width: 90%;
    }
    .image1 {
        background: url('../assets/images/index-1-531x327.png') no-repeat center center / cover;
    }
    .image2 {
        background: url('../assets/images/index-2-531x327.png') no-repeat center center / cover;
    }
    .image3 {
        background: url('../assets/images/index-3-531x327.png') no-repeat center center / cover;
    }
    .image4 {
        background: url('../assets/images/index-4-531x327.png') no-repeat center center / cover;
    }
}
