<section class="main" role="section">
    <div class="main__container">
        <app-header></app-header>
        <div class="container__description">
            <h2>Designing & Building</h2>
            <p>Modern energy efficient houses from 150 sq. m.</p>
            <app-contact-button [buttonText]="text"></app-contact-button>
        </div>
    </div>
    <div class="carousel">
        <router-outlet></router-outlet>
    </div>
</section>
<main>
    <app-qualidades></app-qualidades>
    <app-how-we-do>
        <h2 id="secondTitle" title>{{ firstExample.title }}</h2>
        <p description>
            {{ firstExample.firstDescription }}
        </p>
        <p description>
            {{ firstExample.secondDescription }}
        </p>
        <div image class="{{ firstExample.image }}"></div>
    </app-how-we-do>
</main>

