@import "../app/core/abstracts/variables";

.main {
    align-items: center;
    background: url('../assets/images/bg-image-1.jpg');
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    max-width: 100vw;
    overflow: hidden;
    .main__container {
        height: 100%;
        padding-bottom: 12em;
        width: 33.33%;
        .container__description {
            box-sizing: border-box;
            padding: 0 0 2rem 4rem;
            h2 {
                color: $cor-branco;
                font-size: 50px;
                font-weight: 700;
                text-transform: uppercase;
                width: auto;
            }
            p {
                color: $cor-hover;
                font-size: 15px;
                font-weight: 700;
                margin: 2.5rem 0 2.5rem 9rem;
                text-transform: uppercase;
                width: 45%;
            }
        }
    }
    .carousel {
        height: 100%;
        width: 66.66%;
    }
}

main {
    box-sizing: border-box;
    max-width: 100vw;
    overflow: hidden;
}
