@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

$cor-branco: #ffffff;
$cor-preto: #000000;
$cor-hover: #c4956a;

$font-family: 'Montserrat', sans-serif;
$font-size: 16px;
$font-weigth: 400;
