<nav
    role="menubar"
    [@openNavBar]="navBar ? 'open' : 'default'">
    <ul>
        <li>
            <a href="#" target="_self" rel="author canonical follow">Home</a>
        </li>
        <li>
            <a href="#" target="_self" rel="author canonical follow">About</a>
        </li>
        <li>
            <a href="#" target="_self" rel="author canonical follow">Team</a>
        </li>
        <li>
            <a href="#" target="_self" rel="author canonical follow">Portfolio</a>
        </li>
        <li>
            <a href="#" target="_self" rel="author canonical follow">Contacts</a>
        </li>
        <li>
            <a id="tel" href="tel:#" target="_blank" rel="nofollow">
                <fa-icon [icon]="fonts.faMobile"></fa-icon>
                <span>1-300-123-1234</span>
            </a>
        </li>
    </ul>
</nav>
