@import "../../../../../abstracts/variables";

.hamburguer-menu {
    align-items: flex-end;
    background-color: $cor-preto;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 40px;
    position: relative;
    width: 40px;
    .bar {
        background-color: $cor-branco;
        height: 1.5px;
        position: absolute;
        transform: translateY(-50%);
        transition: all 1s ease-in-out;
        width: 100%;
    }
    .top-bar {
        top: 35%;
        width: 0;
    }
    .middle-bar {
        top: 50%;
        width: 100%;
    }
    .bottom-bar {
        top: 65%;
        width: 60%;
    }
    &:hover ~ .top-bar {
        width: 100%;
    }
}
