@import "../../../abstracts/variables";

.hamburguer-menu {
    align-items: flex-end;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 40px;
    position: relative;
    width: 40px;
    .bar {
        background-color: $cor-branco;
        height: 1.5px;
        position: absolute;
        transform: translateY(-50%);
        width: 100%;
    }
    .top-bar {
        top: 33%;
    }
    .middle-bar {
        top: 50%;
    }
    .bottom-bar {
        top: 66%;
    }
}
